
.nav-parent{
    display: flex !important;
    justify-content: space-between !important;
}


.home-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.about-header,
.product-header,
.contact-header{
   margin: 20px 10px;

}

.about-main,
.product-main,
.contact-main{
    margin-top: 1rem;
    text-align: center;
}

.product-section{
    margin-top: 2rem;
    margin-left: 1rem;
   display: flex;
   flex-wrap: wrap;
   gap: 1.5rem;
   
}

.product-lists{
    padding: 1rem;

    
}